table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px var(--highlight);
}

thead tr {
  background-color: var(--color-secondary);
  color: var(--secondary-text);
  text-align: left;
  font-size: smaller;
}

table th,
table td {
  padding: 11px 15px;
}

table tbody tr {  
  border-bottom: 2px solid var(--highlight);
  color: var(--primary-text);
}

table tbody tr:hover {
  font-weight: bold;
  background-color: var(--hover-bg);
  color: var(--hover-text);
}
