.uparrow {
  color: var(--bullish);
}

.dnarrow {
  color: var(--bearish);
}

.arrows {
  color: var(--neutral);
}

.icon-wrapper {
  display: inline-flex;
  justify-content: right;
  align-items: center;
  width: 2rem; 
  height: 2rem;
  font-size: 1.8rem;
}